body {
	background-image: url("./medicalPig.jpeg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}
/*
.form{
	display: flex;
	justify-content: space-around;
;
}
.titulo-azul-rey {
	color: royalblue;
	text-align: center;
}

.container {
	background-color: white;
	max-width: 800px;
	margin: 50px auto 0;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	padding-top: 50px;
	border: 2px solid royalblue;
}

.label{
	margin: auto;
}
.label-group {

	display: flex;
	align-items: flex-end;
	align-items: center;
	margin-bottom: 10px;
	width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.centertext {
	text-align: center;
}

.form-control {
	width: 300px;
}

.btn-primary {
	background-color: royalblue;
	border: none;
}

.btn-primary:hover {
	background-color: blue;
}

.rectangulo{
	background-color:  rgb(192, 192, 255) ;
	border: 0.1px solid rgb(41, 41, 240);
	width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
*/
form {
	max-width: 800px;
	margin: 50px auto 0;
	padding: 20px;
	box-sizing: border-box;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	margin-bottom: 20px;
}

h1 {
	font-size: 36px;
	color: rgb(41, 41, 240);
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	color: black;
	margin-bottom: 10px;
}

label {
	display: block;
	font-size: 18px;
	color: rgb(41, 41, 240);
	margin-bottom: 5px;
}

.button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }

  .submit {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }

  .submit:hover {
    background-color: #fff;
    color: rgb(41, 41, 240);
    border: 1px solid rgb(41, 41, 240);
  }
input[type="text"],
input[type="number"],
select {
	background-color:  rgb(192, 192, 255) ;
	border: 0.1px solid rgb(41, 41, 240);
	width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cont{
	display: flex;
}
footer{ 
	background-color: rgb(41, 41, 240);
	margin: 0;
	padding: 20px;
	color: rgb(241, 242, 244);
	text-align: center;
}